<div class="mt-4">
    <form method="post" action="">
      <div class="mb-3">
        <label for="search-input" class="form-label">Keyword</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter something...">
      </div>
      <div>
        <label for="gender-input" class="form-label">Keyword</label>
        <select name="gender" class="form-control" id="gender-input">
            <option value="">--Select gender--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

      </div>
    
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>